body{
	font-family: 'Noto Sans', Sans-serif;
	position: relative;
	font-size: 16px;
	line-height: 1.4;
	color: black;
	min-width: 320px;
	overflow-x: hidden;
	height: 100%;
	height: 2500px;
	background-color: rgb(33, 33, 33);
}
.navbar{
	width: 100%;
	height: 70px;
	box-shadow: 0px 4px 10px rgba(245,245,245, .1);
}
.navbar .container{
	margin: 0 auto;
	max-width: 1170px;
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;



}
.navbar-menu{
	list-style-type: none;
	padding-left: 0;
}
.navbar-menu li{
	display: inline-block;

}
.navbar-menu li a{
	display: inline-block;
	color: #fff;
	opacity: 0.6;
	text-decoration: none;
	padding: 10px;
	transition: all .2s ease-in-out;
}
.navbar-menu li a:hover{
	opacity: 1;
}
.navbar-wrap{
	display: flex;
	flex-flow: row nowrap; 
}
.callback{
	margin: 16px 0px 16px 30px;
	padding: 10px 15px;
	background-color: #000;
	border-radius: 100px;
	text-decoration: none;
	color: #fff;
	opacity: 0.6;
	transition: all .1s ease-in-out;
	box-shadow: 0px 4px 6px rgba(245, 245, 245, .09);

}
.callback:hover{
	transform: scale(1.04);
	opacity: 1;	
	box-shadow: 0px 4px 6px rgba(245, 245, 245, .2);

}
.navbar-brand{
	text-decoration: none;
	font-weight: 700;
	font-size: 26px;
	color: #fff;
	transition: all .2s ease-in-out;

}
.navbar-brand:hover{
	color: rgb(242, 156, 90);
}
.navbar_fixed{
	position: fixed;
  left: 0;
  top: 0;
}

.wrapper{
	min-height: 100%;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.sweden{
	max-width: 300px;
	max-height: auto;
	float:left;
}
#LeftSidebar{
	width: 50%;
	display: block;
	font-size:24px;
	float: left;
}
#RightSidebar{
	width: 50%;
	display: block;
	font-size:24px;
	float: right;
}

.items{
	flex: 1 1 auto;
}